n8n_workflow_dynamic_kb.json
{
  "name": "StayJoy_Dynamic_KnowledgeBase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-to-n8n",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1456, 208],
      "id": "webhook-001",
      "name": "Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "leftValue": "={{ $json.body.message_type }}", "rightValue": "incoming", "operator": { "type": "string", "operation": "equals" } },
            { "leftValue": "={{ $json.body.conversation.status }}", "rightValue": "pending", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-1232, 208],
      "id": "if-001",
      "name": "If Incoming"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.STAYJOY_API_URL || 'http://localhost:3000' }}/api/knowledge-base?inbox_id={{ $('Webhook').item.json.body.inbox?.id || $('Webhook').item.json.body.inbox_id || '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "={{ $env.KNOWLEDGE_BASE_API_KEY || 'stayjoy-kb-secret-2024' }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-960, 208],
      "id": "fetch-kb-001",
      "name": "Fetch Knowledge Base"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.content }}",
        "options": {
          "systemMessage": "={{ $('Fetch Knowledge Base').item.json.system_message }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-672, 208],
      "id": "agent-001",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-752, 432],
      "id": "llm-001",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pU5TsBPrUCEsijeA",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.conversation.additional_attributes.chat_id || $('Webhook').item.json.body.conversation.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-496, 432],
      "id": "memory-001",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst results = allItems.map(item => {\n  const output = item.json.output ?? '';\n  const firstLine = output.split('\\n')[0].trim();\n\n  let tagsPart = firstLine;\n  let customerMessage = output;\n\n  if (firstLine.startsWith('[')) {\n    tagsPart = firstLine;\n    customerMessage = output.split('\\n').slice(1).join('\\n').trim();\n  } else {\n    tagsPart = '[GENERAL]';\n  }\n\n  const parts = tagsPart.split('|').map(p => p.trim());\n\n  const convId = $('Webhook').first().json.body?.conversation?.id ?? $('Webhook').first().json.body?.id ?? '';\n\n  const now = new Date();\n  const vnTime = new Date(now.getTime() + 7 * 60 * 60 * 1000);\n  const timestamp = vnTime.toISOString().replace('T', ' ').replace(/\\.\\d+Z$/, '');\n\n  const tag = parts[0] ?? 'UNKNOWN';\n\n  let check_in = '', check_out = '', room_type = '', room = '';\n  let service_type = '', detail = '', name = '', phone = '', email = '', reason = '';\n\n  if (tag === '[BOOK]') {\n    check_in = parts[1] ?? ''; check_out = parts[2] ?? ''; room_type = parts[3] ?? '';\n  } else if (tag === '[CONFIRM]') {\n    check_in = parts[1] ?? ''; check_out = parts[2] ?? ''; room_type = parts[3] ?? '';\n    name = parts[4] ?? ''; phone = parts[5] ?? ''; email = parts[6] ?? '';\n  } else if (tag === '[SERVICE]') {\n    room = parts[1] ?? ''; service_type = parts[2] ?? ''; detail = parts[3] ?? '';\n  } else if (tag === '[HELP]') {\n    room = parts[1] ?? ''; detail = parts[2] ?? '';\n  } else if (tag === '[CANCEL]') {\n    phone = parts[1] ?? ''; reason = parts[2] ?? '';\n  } else {\n    detail = parts.slice(1).join(' ');\n  }\n\n  return {\n    json: {\n      timestamp, conversation_id: convId, tag,\n      check_in, check_out, room_type, room,\n      service_type, detail, name, phone, email, reason,\n      status: 'Mới', output, customer_message: customerMessage\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-192, 208],
      "id": "extract-001",
      "name": "Extract_request_customer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $env.CHATWOOT_ACCOUNT_ID || '156301' }}/conversations/{{ $('Webhook').item.json.body.conversation?.id || $('Webhook').item.json.body.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "content", "value": "={{ $json.customer_message }}" },
            { "name": "message_type", "value": "outgoing" },
            { "name": "private", "value": "false" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [256, -144],
      "id": "reply-001",
      "name": "Reply to Chatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.tag }}", "rightValue": "[BOOK]", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.tag }}", "rightValue": "[CONFIRM]", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.tag }}", "rightValue": "[SERVICE]", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.tag }}", "rightValue": "[HELP]", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.tag }}", "rightValue": "[CANCEL]", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [256, 208],
      "id": "switch-001",
      "name": "Route by Tag"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "If Incoming", "type": "main", "index": 0 }]] },
    "If Incoming": { "main": [[{ "node": "Fetch Knowledge Base", "type": "main", "index": 0 }], []] },
    "Fetch Knowledge Base": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Extract_request_customer", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Simple Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "Extract_request_customer": { "main": [[{ "node": "Reply to Chatwoot", "type": "main", "index": 0 }, { "node": "Route by Tag", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
