test_tele_StayJoy_production.json
{
  "name": "test_tele_StayJoy_production",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.content }}",
        "options": {
          "systemMessage": "={{ $('Fetch Knowledge Base').item.json.system_message }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -672,
        192
      ],
      "id": "47eaaa7b-9270-449a-b725-41fd8e08ae8d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -752,
        416
      ],
      "id": "91cf47f6-598d-447b-bdd3-70ce4adea214",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pU5TsBPrUCEsijeA",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-to-n8n",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        208
      ],
      "id": "42361579-98e1-4313-bdd9-a138585432a8",
      "name": "Webhook",
      "webhookId": "f3c6a563-c303-441f-9695-c9d4a18df006"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e6d1c66-43a3-45ed-b5e6-dfb284adb24d",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7b2d5a84-6b03-4bb7-b0a9-225a1bf99c39",
              "leftValue": "={{ $json.body.conversation.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1232,
        208
      ],
      "id": "464ba315-e4f0-4359-b770-3e538c6b4265",
      "name": "If"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.STAYJOY_API_URL || 'http://localhost:3000' }}/api/knowledge-base?inbox_id={{ $('Webhook').item.json.body.inbox?.id || $('Webhook').item.json.body.inbox_id || '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.KNOWLEDGE_BASE_API_KEY || 'stayjoy-kb-secret-2024' }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -960,
        208
      ],
      "id": "fetch-kb-dynamic-001",
      "name": "Fetch Knowledge Base"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.conversation.additional_attributes.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -496,
        432
      ],
      "id": "b4b0a1a3-86e2-4e1c-ab62-86f439bb0059",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $node[\"Webhook\"].json.body.conversation?.id || $node[\"Webhook\"].json.body.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.customer_message }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        -144
      ],
      "id": "1d062f49-d3aa-4768-8d0f-f087b41a217b",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst results = allItems.map(item => {\n  const output = item.json.output ?? '';\n  const firstLine = output.split('\\n')[0].trim();\n\n  let tagsPart = firstLine;\n  let customerMessage = output;\n\n  // Nếu có tag hợp lệ\n  if (firstLine.startsWith('[')) {\n    tagsPart = firstLine;\n    customerMessage = output.split('\\n').slice(1).join('\\n').trim();\n  } else {\n    // fallback\n    tagsPart = '[GENERAL]';\n  }\n\n  const parts = tagsPart.split('|').map(p => p.trim());\n\n  const convId = $('Webhook').first().json.body?.conversation?.id\n              ?? $('Webhook').first().json.body?.id\n              ?? '';\n\n  // Time VN\n  const now = new Date();\n  const vnTime = new Date(now.getTime() + 7 * 60 * 60 * 1000);\n  const timestamp = vnTime.toISOString()\n                          .replace('T', ' ')\n                          .replace(/\\.\\d+Z$/, '');\n\n  // ===== NEW LOGIC PARSE =====\n  const tag = parts[0] ?? 'UNKNOWN';\n\n  let check_in = '';\n  let check_out = '';\n  let room_type = '';\n  let room = '';\n  let service_type = '';\n  let detail = '';\n  let name = '';\n  let phone = '';\n  let email = '';\n  let reason = '';\n\n  if (tag === '[BOOK]') {\n    check_in = parts[1] ?? '';\n    check_out = parts[2] ?? '';\n    room_type = parts[3] ?? '';\n  } \n  else if (tag === '[CONFIRM]') {\n    check_in = parts[1] ?? '';\n    check_out = parts[2] ?? '';\n    room_type = parts[3] ?? '';\n    name = parts[4] ?? '';\n    phone = parts[5] ?? '';\n    email = parts[6] ?? '';\n  } \n  else if (tag === '[SERVICE]') {\n    room = parts[1] ?? '';\n    service_type = parts[2] ?? '';\n    detail = parts[3] ?? '';\n  } \n  else if (tag === '[HELP]') {\n    room = parts[1] ?? '';\n    detail = parts[2] ?? '';\n  } \n  else if (tag === '[CANCEL]') {\n    phone = parts[1] ?? '';\n    reason = parts[2] ?? '';\n  } \n  else {\n    // GENERAL hoặc fallback\n    detail = parts.slice(1).join(' ');\n  }\n\n  return {\n    json: {\n      timestamp        : timestamp,\n      conversation_id  : convId,\n      tag              : tag,\n\n      check_in         : check_in,\n      check_out        : check_out,\n      room_type        : room_type,\n\n      room             : room,\n      service_type     : service_type,\n      detail           : detail,\n\n      name             : name,\n      phone            : phone,\n      email            : email,\n      reason           : reason,\n\n      status           : 'Mới',\n\n      output           : output,\n      customer_message : customerMessage\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        192
      ],
      "id": "1e584a4b-6535-430a-8d5e-76cf516f2930",
      "name": "Extract_request_customer"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract_request_customer').first().json;\nreturn {\n  json: {\n    tag       : data.tag ?? '',\n    check_in  : data.check_in ?? '',\n    check_out : data.check_out ?? '',\n    room_type : data.room_type ?? 'any',\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        192
      ],
      "id": "46c921d4-20d3-40ec-88a6-697f146db467",
      "name": "Extract_Book_Info"
    },
    {
      "parameters": {
        "jsCode": "const bookingInfo = $('Extract_Book_Info').first().json;\n\n// Đọc từ 2 nguồn\nconst roomList = $('Read_RoomList').all().map(r => r.json);\nconst bookings = $input.all().map(r => r.json);\n\n// ===== 1. Chuẩn hóa ngày =====\nconst checkInStr  = bookingInfo.check_in;\nconst checkOutStr = bookingInfo.check_out;\nconst checkIn  = checkInStr  ? new Date(checkInStr  + 'T00:00:00') : new Date('');\nconst checkOut = checkOutStr ? new Date(checkOutStr + 'T00:00:00') : new Date('');\n\nif (isNaN(checkIn.getTime()) || isNaN(checkOut.getTime())) {\n  return [{ json: {\n    available      : false,\n    available_rooms: '',\n    room_id        : '',\n    check_in       : checkInStr,\n    check_out      : checkOutStr,\n    room_type      : bookingInfo.room_type ?? '',\n    next_available : 'Vui lòng cung cấp ngày check-in và check-out cụ thể',\n    stay_length    : 0\n  }}];\n}\n\n// ===== 2. Normalize helper =====\nconst norm = str => (str ?? '').toLowerCase().trim()\n  .replace(/\\s+/g, ' ').normalize('NFC');\n\n// ===== 3. ROOM_ALIASES: mapping tên phòng từ AI prompt sang tên trong Sheet =====\nconst ROOM_ALIASES = {\n  'phòng giường đôi': 'phòng giường đơn',\n  'phòng 4 người': 'phòng giường đôi',\n  'phòng gia đình': 'phòng gia đình',\n};\n\n// ===== 4. Đọc loại phòng hợp lệ từ Sheet 1 =====\nconst validRoomTypes = [\n  ...new Set(roomList.map(r => norm(r['Loại phòng'])).filter(Boolean))\n];\n\n// ===== 5. Tìm loại phòng khớp với AI output =====\nconst rawRoomType = norm(bookingInfo.room_type ?? '');\n\n// Thử alias trước, nếu không có thì fuzzy match\nconst aliasedType = ROOM_ALIASES[rawRoomType] ?? rawRoomType;\n\nconst roomType = validRoomTypes.find(valid => {\n  if (valid === aliasedType) return true;\n  if (valid === rawRoomType) return true;\n  if (valid.includes(aliasedType)) return true;\n  if (aliasedType.includes(valid)) return true;\n  return false;\n}) ?? aliasedType;\n\nconst filterByType = roomType !== 'any' && roomType !== '';\n\n// ===== 6. Số đêm khách muốn ở =====\nconst stayLength = Math.round(\n  (checkOut - checkIn) / (1000 * 60 * 60 * 24)\n);\n\n// ===== 7. Lấy danh sách phòng vật lý từ Sheet 1 (Danh_Sach_Phong) =====\n// Sheet 1 cột 'Số phòng'\nconst allRoomsOfType = roomList\n  .filter(r => !filterByType || norm(r['Loại phòng']) === roomType)\n  .map(r => String(r['Số phòng']))\n  .filter(Boolean);\n\n// ===== 8. Safety check =====\nif (filterByType && allRoomsOfType.length === 0) {\n  return [{ json: {\n    available      : false,\n    available_rooms: '',\n    room_id        : '',\n    check_in       : checkInStr,\n    check_out      : checkOutStr,\n    room_type      : bookingInfo.room_type,\n    next_available : 'Không tìm thấy loại phòng này trong hệ thống',\n    stay_length    : stayLength\n  }}];\n}\n\n// ===== 9. Tìm phòng bị block từ Sheet 2 (Danh_Sach_Dat_Phong) =====\n// Sheet 2 cột 'Số phòng'\nconst bookedRoomIds = new Set(\n  bookings.filter(b => {\n    const bIn  = b['Check-in']  ? new Date(b['Check-in']  + 'T00:00:00') : null;\n    const bOut = b['Check-out'] ? new Date(b['Check-out'] + 'T00:00:00') : null;\n    if (!bIn || !bOut) return false;\n\n    const overlap   = checkIn < bOut && checkOut > bIn;\n    const typeMatch = !filterByType || norm(b['Loại phòng']) === roomType;\n    const status    = norm(b['Tình trạng'] ?? '');\n    const isActive  = ['pending', 'confirmed', 'check-in', 'checked_in',\n                       'đã cọc', 'đang ở'].includes(status);\n    return overlap && typeMatch && isActive;\n  }).map(b => String(b['Số phòng']))\n);\n\n// ===== 10. Phòng còn trống =====\nconst availableRooms = allRoomsOfType.filter(id => !bookedRoomIds.has(id));\n\n// ===== 11. Gap Finder nếu hết phòng =====\nlet nextAvailable = '';\n\nif (availableRooms.length === 0) {\n  const today = new Date();\n  today.setHours(0, 0, 0, 0);\n\n  // Nhóm booking active theo Số phòng\n  const activeByRoom = {};\n  bookings.forEach(b => {\n    const typeMatch = !filterByType || norm(b['Loại phòng']) === roomType;\n    const status    = norm(b['Tình trạng'] ?? '');\n    const isActive  = ['pending', 'confirmed', 'check-in', 'checked_in',\n                       'đã cọc', 'đang ở'].includes(status);\n    if (!typeMatch || !isActive) return;\n\n    const bIn  = b['Check-in']  ? new Date(b['Check-in']  + 'T00:00:00') : null;\n    const bOut = b['Check-out'] ? new Date(b['Check-out'] + 'T00:00:00') : null;\n    if (!bIn || !bOut) return;\n\n    const rid = String(b['Số phòng']);\n    if (!activeByRoom[rid]) activeByRoom[rid] = [];\n    activeByRoom[rid].push({ in: bIn, out: bOut });\n  });\n\n  // Tìm gap sớm nhất đủ stayLength đêm cho từng phòng\n  // Bắt đầu tìm từ ngày checkout khách yêu cầu (không tìm ngày trước đó)\n  let earliestGap = null;\n  const searchStart = new Date(Math.max(today.getTime(), checkOut.getTime()));\n\n  for (const rid of allRoomsOfType) {\n    const segments = (activeByRoom[rid] ?? [])\n      .sort((a, b) => a.in - b.in);\n\n    let cursor = new Date(searchStart);\n\n    for (const seg of segments) {\n      if (seg.out <= cursor) continue; // booking đã qua cursor, bỏ qua\n      if (seg.in > cursor) {\n        const gapDays = Math.round((seg.in - cursor) / (1000 * 60 * 60 * 24));\n        if (gapDays >= stayLength) {\n          if (!earliestGap || cursor < earliestGap) earliestGap = new Date(cursor);\n          break;\n        }\n      }\n      // Đẩy cursor qua booking này\n      if (seg.out > cursor) cursor = new Date(seg.out);\n    }\n\n    // Sau tất cả booking → trống vô hạn\n    if (!earliestGap || cursor < earliestGap) earliestGap = new Date(cursor);\n  }\n\n  nextAvailable = earliestGap\n    ? earliestGap.toISOString().split('T')[0]\n    : 'Liên hệ để biết thêm';\n}\n\n\n// ===== 12. Return =====\nconst firstAvailableRoomId = availableRooms[0] ?? '';\n\nreturn [{ json: {\n  available       : availableRooms.length > 0,\n  available_rooms : availableRooms.join(', '),\n  room_id         : firstAvailableRoomId,\n  check_in        : checkInStr,\n  check_out       : checkOutStr,\n  room_type       : bookingInfo.room_type,\n  next_available  : nextAvailable,\n  stay_length     : stayLength\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        192
      ],
      "id": "659e5188-452d-4ea1-bdc1-661c6dae88de",
      "name": "Check_Availability"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31cf171b-3dce-496b-aa42-41752f89e392",
              "leftValue": "={{ $json.available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        192
      ],
      "id": "2ef4a7b3-aeb2-4555-94c7-031b647d65e2",
      "name": "Room_Available"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2e810f67-2712-40cf-9cb3-a0801e19010b",
                    "leftValue": "={{ $json.tag }}",
                    "rightValue": "[HELP]",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tag }}",
                    "rightValue": "[BOOK]",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fe5c9f3c-4d1e-41ed-ba62-a288c3f68ecb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "99045bd3-b7c0-46e8-a126-8b697ab4f0fd",
                    "leftValue": "={{ $json.tag }}",
                    "rightValue": "[SERVICE]",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ba5765fd-59e3-4761-80b7-16dddc705539",
                    "leftValue": "={{ $json.tag }}",
                    "rightValue": "[CONFIRM]",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "59bc7f1e-d1f3-466f-b211-c9e243c8473f",
                    "leftValue": "={{ $json.tag }}",
                    "rightValue": "[CANCEL]",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        32,
        128
      ],
      "id": "f9b72825-e93f-4720-b2b3-837bf987d0c3",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.STAYJOY_API_URL || 'http://localhost:3000' }}/api/n8n/service-requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "={{ $env.KNOWLEDGE_BASE_API_KEY || 'stayjoy-kb-secret-2024' }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ property_id: $('Fetch Knowledge Base').item.json.property_id, conversation_id: $json.conversation_id, so_phong: $json.room, tag: $json.tag, loai_dich_vu: $json.service_type, chi_tiet: $json.detail }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        576
      ],
      "id": "bc0c0f09-9103-482f-85f7-d45caa3685d8",
      "name": "Append_Services"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $('Webhook').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"content\": \"🚨 THÔNG BÁO NỘI BỘ (BOT):\\n\" +\n             \"Khách vừa xác nhận chốt đặt phòng nhưng chưa gửi khoản cọc.\\n\" +\n             \"👤 Tên khách: \" + $('Confirm').item.json['Họ và tên'] + \"\\n\" +\n             \"📱 SĐT Khách: \" + $('Confirm').item.json['Số điện thoại'] + \"\\n\" +\n             \"🛏️ Loại: \" + $('Confirm').item.json['Loại phòng'] + \"\\n\" +\n             \"📅 Check-in: \" + (\n                $('Confirm').item.json['Check-in'] \n                ? new Date($('Confirm').item.json['Check-in']).toLocaleDateString('vi-VN') \n                : ''\n             ) + \"\\n\" +\n             \"📅 Check-out: \" + (\n                $('Confirm').item.json['Check-out'] \n                ? new Date($('Confirm').item.json['Check-out']).toLocaleDateString('vi-VN') \n                : ''\n             ) + \"\\n\" +\n             \"Chủ nhà vui lòng theo dõi cuộc hội thoại này để xác nhận biên lai nhé!\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        384
      ],
      "id": "cd1b231e-533d-4ec6-9638-0dbe75529f4b",
      "name": "Notify_Admin_Chatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $('Webhook').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"Dạ yêu cầu hủy phòng của anh chị đã được tiếp nhận. Quản lý sẽ nhắn tin hỗ trợ thủ tục hoàn/hủy ngay bây giờ ạ!\",\n  \"message_type\": \"outgoing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        768
      ],
      "id": "c5c64152-0899-4a88-9ab7-ce85839fd7e9",
      "name": "HTTP Request Cancel",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Đọc dữ liệu phòng lấy từ sheet\nconst roomData = $input.first()?.json; \nconst tagData = $('Extract_request_customer').first().json; // Dữ liệu khách nhập\n\n// 1. Phân tích xem khách có gõ bừa số phòng không? (ví dụ tìm không thấy phòng 999)\nif (!roomData) {\n  return [{\n    json: {\n      accept: false,\n      reply_msg: \"Dạ em kiểm tra hệ thống không thấy số phòng này. Anh/chị xem lại có nhầm số phòng không ạ! 😅\"\n    }\n  }];\n}\n\n// 2. Nếu tìm thấy phòng, ép chữ về chữ thường để xét điều kiện\nconst status = (roomData['Tình trạng'] || '').toLowerCase().trim();\n\n// 3. Xét luật: Nếu phòng Đang TRỐNG hoặc khách CHƯA CHECK-IN (chỉ mới cọc) -> TỪ CHỐI\nif (status === 'trống' || status === 'chờ xếp (trống)' || status === 'chờ khách cọc' || status === 'đã cọc') {\n  return [{\n    json: {\n      accept: false,\n      reply_msg: \"Dạ hệ thống báo phòng này hiện phòng trống. Anh/chị hãy kiểm tra lại số phòng ạ? \"\n    }\n  }];\n}\n\n// 4. Nếu phòng ĐANG CÓ NGƯỜI Ở -> DUYỆT!\nreturn [{\n  json: {\n    accept: true,\n    // Thông tin này cần để truyền cho nút Lưu Sheet gốc của bạn\n    timestamp: tagData.timestamp,\n    conversation_id: tagData.conversation_id,\n    room: tagData.room,\n    tag: tagData.tag,\n    service_type: tagData.service_type,\n    detail: tagData.detail,\n    reply_msg: \"Dạ em đã ghi nhận yêu cầu phục vụ của mình rồi ạ. Xin anh/chị chờ một chút xíu nhé! \"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        576
      ],
      "id": "1444e1fe-07d7-4a82-873b-82c2ad5dec13",
      "name": "Evaluate_Service_Status"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.STAYJOY_API_URL || 'http://localhost:3000' }}/api/n8n/bookings?property_id={{ $('Fetch Knowledge Base').item.json.property_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.KNOWLEDGE_BASE_API_KEY || 'stayjoy-kb-secret-2024' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        576
      ],
      "id": "e91dc649-8c44-4834-a4cf-fbf2c99138da",
      "name": "Read_Room_Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0527bd0f-d75e-440f-81d5-abfdd8bdac43",
              "leftValue": "={{ $json.accept }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        576
      ],
      "id": "7e62a9bf-4b62-49c1-abc4-5212b7c0e673",
      "name": "Real or Fake"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.STAYJOY_API_URL || 'http://localhost:3000' }}/api/n8n/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "={{ $env.KNOWLEDGE_BASE_API_KEY || 'stayjoy-kb-secret-2024' }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ property_id: $('Fetch Knowledge Base').item.json.property_id, so_phong: $json.room_id || '', loai_phong: $json.room_type || '', ho_ten: $json.name || '', sdt: $json.phone || '', email: $json.email || '', check_in: $json.check_in, check_out: $json.check_out, conversation_id: $('Extract_request_customer').item.json.conversation_id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        384
      ],
      "id": "7d87e6e2-442c-4e8b-94eb-f70322a44ed2",
      "name": "Confirm"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.customer_message }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        960
      ],
      "id": "446d2e5d-dcb4-4443-90bd-dca055e25886",
      "name": "Answer_general_ques",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $node[\"Webhook\"].json.body.conversation.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"open\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        0
      ],
      "id": "909f504e-6abd-4bcf-b8c8-a1d4b7a891a7",
      "name": "HTTP Request_Open_Chatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $('Webhook').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"Dạ thông tin đặt phòng ban đầu của anh/chị đã được ghi nhận vào hệ thống rồi ạ! 🎉\\n\\nĐể CHUẨN BỊ GIỮ CHỖ (ĐẶT CỌC), anh/chị vui lòng chuyển khoản cọc 50% vào stk sau nhé:\\nNgân hàng: Vietcombank\\nSTK: 0123456789\\nTên: NGUYEN VAN A\\nNội dung: Sdt + Ten + Ngay Checkin\\n\\nSau khi chuyển khoản xong, anh/chị chụp lại biên lai gửi vảo đây giúp em nha. Quản lý sẽ xác nhận lại liền ạ! Cảm ơn anh/chị. ❤️\",\n  \"message_type\": \"outgoing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        384
      ],
      "id": "356f6840-52d7-41cb-9e32-dd27ecbb8351",
      "name": "Answer_cus_confirm",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $('Webhook').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.reply_msg }}\",\n  \"message_type\": \"outgoing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        768
      ],
      "id": "778e26e5-fbb2-4773-83a5-18d764f000cc",
      "name": "Answer_cus_ser_not_append",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $('Webhook').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"content\": $json.check_in && $json.check_out\n    ? `Dạ em kiểm tra xong rồi ạ! Phòng ${$json.room_type} còn trống từ ${$json.check_in} đến ${$json.check_out} ạ🎉`\n    : `Dạ phòng ${$json.room_type || \"\"} hiện đang còn trống ạ\nAnh/chị cho em xin ngày check-in và check-out để em giữ phòng nhé!`,\n  \"message_type\": \"outgoing\"\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        192
      ],
      "id": "7ce51397-930c-4474-808a-0086cbfa4c0b",
      "name": "Answer_cus_availible_room",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $('Webhook').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ $json.check_in && $json.check_out ? \"\\\"Dạ rất tiếc \" + $json.room_type + \" đã kín lịch từ \" + $json.check_in + \" đến \" + $json.check_out + \" 😔\\\\n\\\\nNgày gần nhất phòng trống đủ \" + $json.stay_length + \" đêm là từ: \" + $json.next_available + \"\\\\n\\\\nAnh/chị có muốn đặt từ ngày đó không ạ? 🗓️\\\"\" : \"\\\"Dạ anh/chị vui lòng cho em xin ngày check-in và check-out cụ thể để em kiểm tra phòng \" + ($json.room_type || \"\") + \" trống nhé! 📅\\\"\" }},\n  \"message_type\": \"outgoing\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        384
      ],
      "id": "c10090bc-b8bd-48fe-8832-841e116ede2a",
      "name": "Answer_cus_not_availible_room",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $('Webhook').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"Dạ vâng yêu cầu của quý khách đã được ghi nhận rồi ạ\",\n  \"message_type\": \"outgoing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        576
      ],
      "id": "522b494a-81d7-440b-8485-8da34fcfa62b",
      "name": "Answer_cus_Services_append",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.STAYJOY_API_URL || 'http://localhost:3000' }}/api/n8n/rooms?property_id={{ $('Fetch Knowledge Base').item.json.property_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.KNOWLEDGE_BASE_API_KEY || 'stayjoy-kb-secret-2024' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        192
      ],
      "id": "7d85617e-4f3c-4d53-b11e-530da120fb35",
      "name": "Read_RoomList"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.STAYJOY_API_URL || 'http://localhost:3000' }}/api/n8n/bookings?property_id={{ $('Fetch Knowledge Base').item.json.property_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.KNOWLEDGE_BASE_API_KEY || 'stayjoy-kb-secret-2024' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        192
      ],
      "id": "6db5f8d4-c708-4d22-b91e-0eec1e455b5b",
      "name": "Read_BookingCalendar"
    },
    {
      "parameters": {
        "jsCode": "// Lấy message_id từ webhook\nconst msgId = $input.item.json.body?.id \n           ?? $input.item.json.body?.message?.id \n           ?? '';\n\n// Dùng static variable để nhớ message đã xử lý\nconst processed = $getWorkflowStaticData('global');\nif (!processed.seen) processed.seen = {};\n\n// Nếu đã xử lý message này → dừng\nif (processed.seen[msgId]) {\n  return []; // trả rỗng = dừng flow\n}\n\n// Đánh dấu đã xử lý\nprocessed.seen[msgId] = Date.now();\n\n// Dọn cache cũ (giữ 100 message gần nhất)\nconst keys = Object.keys(processed.seen);\nif (keys.length > 100) {\n  keys.sort((a, b) => processed.seen[a] - processed.seen[b]);\n  for (let i = 0; i < keys.length - 100; i++) {\n    delete processed.seen[keys[i]];\n  }\n}\n\nreturn [$input.item];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        192
      ],
      "id": "bf727703-18b9-468e-b515-fc0f985bd522",
      "name": "Dedup"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/156301/conversations/{{ $('Webhook').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"content\": \"🚨 YÊU CẦU HỦY PHÒNG\\n\" +\n             \"Khách vừa yêu cầu hủy đặt phòng.\\n\" +\n             \"👤 Thông tin: \" + ($('Extract_request_customer').first().json.phone || $('Extract_request_customer').first().json.name || \"Không rõ\") + \"\\n\" +\n             \"📝 Lý do: \" + ($('Extract_request_customer').first().json.reason || \"Không nêu lý do\") + \"\\n\\n\" +\n             \"⚠️ Chủ nhà vui lòng kiểm tra và xử lý hoàn cọc theo chính sách:\\n\" +\n             \"• Trước 3 ngày → hoàn 100% cọc\\n\" +\n             \"• Trong 3 ngày → mất 50% cọc\\n\" +\n             \"• No-show → mất 100% cọc\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        768
      ],
      "id": "70770c41-1f2d-4435-b5f3-cf5bea872dea",
      "name": "Notify_Admin_Cancel",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vAfHDLTjhpWi04IP",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract_request_customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract_request_customer": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Book_Info": {
      "main": [
        [
          {
            "node": "Read_RoomList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Availability": {
      "main": [
        [
          {
            "node": "Room_Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Room_Available": {
      "main": [
        [
          {
            "node": "Answer_cus_availible_room",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer_cus_not_availible_room",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request_Open_Chatwoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract_Book_Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read_Room_Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer_general_ques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append_Services": {
      "main": [
        [
          {
            "node": "Answer_cus_Services_append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Cancel": {
      "main": [
        [
          {
            "node": "Notify_Admin_Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read_Room_Status": {
      "main": [
        [
          {
            "node": "Evaluate_Service_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate_Service_Status": {
      "main": [
        [
          {
            "node": "Real or Fake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Real or Fake": {
      "main": [
        [
          {
            "node": "Append_Services",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer_cus_ser_not_append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm": {
      "main": [
        [
          {
            "node": "Answer_cus_confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer_cus_confirm": {
      "main": [
        [
          {
            "node": "Notify_Admin_Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read_RoomList": {
      "main": [
        [
          {
            "node": "Read_BookingCalendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read_BookingCalendar": {
      "main": [
        [
          {
            "node": "Check_Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup": {
      "main": [
        [
          {
            "node": "Fetch Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Knowledge Base": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify_Admin_Cancel": {
      "main": [
        [
          {
            "node": "HTTP Request_Open_Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aa83796d-eb7d-426e-9ca6-aa578bca7852",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c84af830029c1b686363013236695bc39ce48293d11c6ea63a6867c1488e783"
  },
  "id": "b4pEBS7DW4JFML2t",
  "tags": []
}